@model IEnumerable<Brand>
<div class="right_col" role="main">
    <div class="">
        <div class="row" style="display: block;">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Marka Yönetimi</h2>
                        <a asp-controller="Brand" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Marka</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Marka Adı </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Brand brand in Model)
                                    {
                                        <tr class="even pointer">
                                            <td><a asp-controller="Brand" asp-action="Edit" asp-route-id="@brand.ID">@brand.Name</a></td>
                                            <td><a onclick="$('#modalBrand').modal();$('.deleteYes').attr('href','/admin/brand/delete/@brand.ID')" class="btn btn-danger float-right" style="color:#fff">Sil</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div class="modal fade" id="modalBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">DİKKAT!..</h1>
                <a style="cursor:pointer;color:red" onclick="$(this).closest('.modal').modal('hide')">X</a>
            </div>
            <div class="modal-body">
                Seçili Marka Kaydı Silinecektir<br />Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$(this).closest('.modal').modal('hide')">Hayır</button>
                <a class="btn btn-primary deleteYes">Evet</a>
            </div>
        </div>
    </div>
</div>